* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #F8F8F8;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 0.1px;
}

#nav {
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1 {
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 38px;
    letter-spacing: -1;
    position: relative;

}
#nav h1::after{
    content: "©️";
    font-family: gilroy;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top:9%;
    right: 9%;
}
#nav h1::before{
    content: "model management";
    font-family: gilroy;
    font-weight: 400;
    font-size: 13px;
    color: #666;
    letter-spacing: 0.1px ;
    position: absolute;
    bottom:18%;
    right: 18%;
}

#nav h2 {
    /* background-color: blue; */
    height: 100%;
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 28px;
    font-weight: 600;


}

#nav h2:nth-last-child(2) {
    width: 29%;
}

#nav h2:nth-last-child(1) {
    width: 10%;
}
#nav h3{
    display: none;
}

#center {
    height: 80%;
    width: 100%;
    /* background-color: red; */
    padding: 3vw 4vw;
    position: relative;
}

#content {
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: greenyellow; */
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw;
}

#over1 h1 {
    font-family: monument;
    font-size: 3.6vw;
    color: #fff;
}

#over1 h2 {
    font-size: 1vw;
    padding: 2vw 2.2vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    /* border-bottom: 2px solid #fff; */
}

#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.2vw 0;
}

#over2 h4 {
    font-size: 1.3vw;
    font-weight: 500;
    color: #fff;
}

#over2 img {
    height: 3vw;
}

#scroll {
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    /* padding: 1vw; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container {
    height: 100%;
    width: 110%;
    /* background-color: blue; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img {
    /* display: none; */
    height: 95%;
    width: 15%;
    margin: 1vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: 30% 30%;
}
@keyframes anime {
    from{
        transform:translateX(0) ;
    }
    to{
        transform: translateX(-100%);
    }
}
#alphabet{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
#alphabet h5{
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    font-style: italic;
    border-bottom: 2px solid #000000;
margin-right: 2vw;
}
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: italic;
    /* background-color: yellow; */
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #000000;
transition: all ease 0.2s;
}
#alphabet h6:hover{
    border: 1px solid #000;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}
#page2-part1{
    height: 100%;
    width: 50%;
    background-image: url(https://images.pexels.com/photos/1408781/pexels-photo-1408781.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center;
}
#page2-part2{
    height: 100%;
    width: 46%;
    /* background-image: url(https://images.pexels.com/photos/1408781/pexels-photo-1408781.jpeg?auto=compress&cs=tinysrgb&w=600); */
}
#page2-part2 img{
    height: 70%;
    width: 100%;
    object-fit: contain;
}
#page3{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 5vw 4vw;
}
#page3>h1{
    text-align: center;
    font-family: monument;
    font-size: 3vw;
    /* font-weight: 600; */
    margin-bottom: 7vh;
}
.elem{
    height: 15vh;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    transition: all ease 0.7s;
}
.elem img{
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    opacity: 0;
    transition: all ease 0.7s;
    object-fit: cover;
    /* object-position: top; */
}
.elem h4{
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
    /* background-color: red; */
}
.elem .elem-part2{
    width: 45%;
}
.elem .elem-part2 h1{
    font-size: 2.7vw;
    font-weight: 500;
}
.elem .elem-part2 h5{
    font-size: 0.9vw;
    font-weight: 600;
    text-transform: uppercase;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid #000;
}
.elem:nth-last-child(1) img{
    left:40% ;
}
.elem:nth-last-child(3) img{
    left:40% ;
}
.elem:hover{
    background-color: #e6e6e6;
}
.elem:hover img{
    opacity: 1;
    left:24% ;
}
#marque{
    /* height: 15vh; */
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0.8vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#marque h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    letter-spacing: 3px;
    font-family: monument;
    /* background-color: blue; */
    margin-right: 16px;
    animation-name: move;
    animation-duration:4s;
animation-iteration-count:infinite ;
animation-timing-function: linear;
}
@keyframes move {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
    
}

/* #footer{
    width: 100%;
    height: 100%;
} */
@media (max-width:600px) {
body{
    overflow-x: hidden;
}
#nav {
    height: 8vh;
    margin-top: 20px;
    padding: 0 5vw;
}

#nav h1 {
    width: 40%;
    justify-content: flex-start;
    font-size: 24px;

}
#nav h1::after{
    display: none;
}
#nav h1::before{
   display: none;
}
#nav h3{
    display: block;
}
#nav h2{
    display: none;
}


#center {
    height: 40%;
    width: 100%;
    padding: 3vw 4vw;
    position: relative;
}

#content {
    height: 100%;
    width: 100%;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: fit-content;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw;
}

#over1 h1 {
    font-family: monument;
    font-size: 5.5vw;
    color: #fff;
    font-weight: 100;
}

#over1 h2 {
    font-size: 2vw;
    padding: 3vw 3.2vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    /* border-bottom: 2px solid #fff; */
}

#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}

#over2 h4 {
    font-size: 3.3vw;
    font-weight: 500;
    color: #fff;
}

#over2 img {
    height: 5vw;
}

#scroll {
    height: 20vh;
    width: 100%;
    /* background-color: red; */
    /* padding: 1vw; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container {
    height: 100%;
    width: fit-content;
    /* background-color: blue; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img {
    /* display: none; */
    height: 95%;
    width: 15.5%;
    margin: 1vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: 30% 30%;
}

    }
    
